<md-content layout="column">
    <div class="navigate">
        <div ng-bind="($ctrl.characters.count || 0) + ' character(s)'"></div>
        <div class="text-right">
            <md-button class="md-primary md-fab" ng-click="$ctrl.goToFirstOrLastPage(1)"
                       ng-disabled="$ctrl.lastPage === 1">
                <i class="zmdi zmdi-fast-rewind"></i>
            </md-button>
            <md-button class="md-primary md-fab" ng-click="$ctrl.goToPage('previous')"
                       ng-disabled="!$ctrl.characters.previous">
                <i class="zmdi zmdi-chevron-left"></i>
            </md-button>
            <md-button class="md-primary md-fab" ng-click="$ctrl.goToPage('next')"
                       ng-disabled="!$ctrl.characters.next">
                <i class="zmdi zmdi-chevron-right"></i>
            </md-button>
            <md-button class="md-primary md-fab"
                       ng-click="$ctrl.goToFirstOrLastPage($ctrl.lastPage)"
                       ng-disabled="$ctrl.lastPage === 1">
                <i class="zmdi zmdi-fast-forward"></i>
            </md-button>
        </div>
    </div>
    <md-content>
        <md-list class="people-list">
            <md-list-item class="list-card" ng-repeat="character in $ctrl.characters.data">
                <div class="card-content">
                    <div class="character-name" ng-bind="character.name"></div>
                    <div class="character-content">
                        <div class="padding-5"
                             ng-bind="'Birth Year: ' + character.birth_year"></div>
                        <div class="character-info">
                            <span class="padding-5" ng-bind="'Weight: ' + character.mass"></span>
                            <span class="padding-5" ng-bind="'Height: ' + character.height"></span>
                        </div>
                        <div class="padding-5" ng-bind="'Skin: ' + character.skin_color"></div>
                        <div class="padding-5" ng-bind="'Eye: ' + character.eye_color"></div>
                        <div class="character-info">
                            <span class="padding-5"
                                  ng-bind="'Hair: ' + character.hair_color"></span>
                            <span class="padding-5" ng-switch="character.gender">
                            <i ng-switch-when="male" class="zmdi zmdi-male-alt"></i>
                            <i ng-switch-when="female" class="zmdi zmdi-female"></i>
                            <i ng-switch-default class="zmdi zmdi-help"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </md-list-item>
        </md-list>
        <md-progress-circular ng-disabled="$ctrl.characters"
                              md-diameter="40"></md-progress-circular>
    </md-content>
</md-content>